.jumbotron {
  margin-top: 0px;
  padding-top: 10px;

  background-color: #030303;
}
.navbar {
  background-color: #8430c8;
}

.smokeColor {
  background-color: #101010;
}

h1 {
  color: rgb(224, 224, 224);
}
