.jumbotron {
  margin-top: 0px;
  padding-top: 10px;

  background-color: #030303;
}
.navbar {
  background-color: #8430c8;
}

.main-header {
  color: #8430c8;
}

.smokeColor {
  background-color: #101010;
}

h1 {
  color: rgb(224, 224, 224);
}

.bg-image {
  background-image: url("/static/440club_website_desgin_body_tag.png");
  /* background-color: #cccccc; */
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.site-footer {
  background-color: #8430c8;
  /* border: solid red; */
}

p {
  color: rgb(224, 224, 224);
}

.container {
  /* border: solid green 5px; */
  padding-bottom: 10px;
}

.row {
  /* border: solid yellow 2px; */
}

.col {
  /* border: solid orange 2px; */
}

h2 {
  color: rgb(224, 224, 224);
}

a {
  color: rgb(224, 224, 224);
}
